#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1

# set hardening option
DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/buildflags.mk


config.status: configure
	dh_testdir
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr --mandir=\$${prefix}/share/man

build: build-stamp

build-stamp:  config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

build-arch: build

build-indep: build

clean: config.status
	dh_testdir
	dh_testroot
	rm -f build-stamp config.status
	$(MAKE) clean
	dh_clean
	rm -f Makefile Config.h config.log

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/extsmail install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs HISTORY
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install build-arch build-indep
